.metrics-header {
    .metrics-paraph {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
    }
}
