<tbody>
    <tr id="tr_cco">
        <td>00120 </td>
        <td>ADELANTO DE VACACIONES                                      </td>
    </tr>
    <tr id="tr_cco">
        <td>00123 </td>
        <td>SUBSIDIO POR ENFERMEDAD                                     </td>
    </tr>
    <tr id="tr_cco">
        <td>00124 </td>
        <td>LICENCIA POR ENFERMEDAD DE FAMILIAR DIRECTO                 </td>
    </tr>
    <tr id="tr_cco">
        <td>00125 </td>
        <td>LICENCIA POR PATERNIDAD                                     </td>
    </tr>
    <tr id="tr_cco">
        <td>00126 </td>
        <td>LICENCIA POR FALLECIMIENTO                                  </td>
    </tr>
    <tr id="tr_cco">
        <td>00138 </td>
        <td>HORAS BANCABLES                                             </td>
    </tr>
    <tr id="tr_cco">
        <td>00150 </td>
        <td>DIA FERIADO                                                 </td>
    </tr>
    <tr id="tr_cco">
        <td>00160 </td>
        <td>DESC.MEDICO                                                 </td>
    </tr>
    <tr id="tr_cco">
        <td>00165 </td>
        <td>SUBSIDIO MATERNIDAD                                         </td>
    </tr>
    <tr id="tr_cco">
        <td>00166 </td>
        <td>HORA DE LACTANCIA                                           </td>
    </tr>
    <tr id="tr_cco">
        <td>00170 </td>
        <td>VACACIONES                                                  </td>
    </tr>
    <tr id="tr_cco">
        <td>10100 </td>
        <td>FINANCIERO                                                  </td>
    </tr>
    <tr id="tr_cco">
        <td>11100 </td>
        <td>BD GENERAL                                                  </td>
    </tr>
    <tr id="tr_cco">
        <td>11101 </td>
        <td>BD SHARED SERVICES                                          </td>
    </tr>
    <tr id="tr_cco">
        <td>11107 </td>
        <td>BD PHOSPHATE                                                </td>
    </tr>
    <tr id="tr_cco">
        <td>11108 </td>
        <td>BD SULPHURIC ACID                                           </td>
    </tr>
    <tr id="tr_cco">
        <td>11109 </td>
        <td>BD FERTILIZERS                                              </td>
    </tr>
    <tr id="tr_cco">
        <td>11110 </td>
        <td>MANAGEMENT                                                  </td>
    </tr>
    <tr id="tr_cco">
        <td>11200 </td>
        <td>MARKETING GENERAL                                           </td>
    </tr>
    <tr id="tr_cco">
        <td>11201 </td>
        <td>MARKETING GOLD                                              </td>
    </tr>
    <tr id="tr_cco">
        <td>11202 </td>
        <td>MARKETING COPPER                                            </td>
    </tr>
    <tr id="tr_cco">
        <td>11203 </td>
        <td>MARKETING IRON ORE                                          </td>
    </tr>
    <tr id="tr_cco">
        <td>11204 </td>
        <td>MARKETING COAL                                              </td>
    </tr>
    <tr id="tr_cco">
        <td>11205 </td>
        <td>MARKETING NICKEL                                            </td>
    </tr>
    <tr id="tr_cco">
        <td>11206 </td>
        <td>MARKETING POTASH                                            </td>
    </tr>
    <tr id="tr_cco">
        <td>11207 </td>
        <td>MARKETING PHOSPHATE                                         </td>
    </tr>
    <tr id="tr_cco">
        <td>11208 </td>
        <td>MARKETING SULPHURIC ACID                                    </td>
    </tr>
    <tr id="tr_cco">
        <td>11209 </td>
        <td>MARKETING FERTILIZERS                                       </td>
    </tr>
    <tr id="tr_cco">
        <td>11210 </td>
        <td>MARKETING ALUMINUM                                          </td>
    </tr>
    <tr id="tr_cco">
        <td>11211 </td>
        <td>MARKETING BAUXITE                                           </td>
    </tr>
    <tr id="tr_cco">
        <td>11212 </td>
        <td>MARKETING COBALT                                            </td>
    </tr>
    <tr id="tr_cco">
        <td>11213 </td>
        <td>MARKETING DIAMONDS                                          </td>
    </tr>
    <tr id="tr_cco">
        <td>11214 </td>
        <td>MARKETING FERRO ALLOY                                       </td>
    </tr>
    <tr id="tr_cco">
        <td>11215 </td>
        <td>MARKETING MISC BASE METALS                                  </td>
    </tr>
    <tr id="tr_cco">
        <td>11216 </td>
        <td>MARKETING PLATINUM                                          </td>
    </tr>
    <tr id="tr_cco">
        <td>11217 </td>
        <td>MARKETING URANIUM                                           </td>
    </tr>
    <tr id="tr_cco">
        <td>11218 </td>
        <td>MARKETING OTHERS                                            </td>
    </tr>
    <tr id="tr_cco">
        <td>11300 </td>
        <td>COMMERCIAL GENERAL                                          </td>
    </tr>
    <tr id="tr_cco">
        <td>11301 </td>
        <td>COMMERCIAL GOLD                                             </td>
    </tr>
    <tr id="tr_cco">
        <td>11302 </td>
        <td>COMMERCIAL COPPER                                           </td>
    </tr>
    <tr id="tr_cco">
        <td>11303 </td>
        <td>COMMERCIAL IRON ORE                                         </td>
    </tr>
    <tr id="tr_cco">
        <td>11304 </td>
        <td>COMMERCIAL COAL                                             </td>
    </tr>
    <tr id="tr_cco">
        <td>11305 </td>
        <td>COMMERCIAL NICKEL                                           </td>
    </tr>
    <tr id="tr_cco">
        <td>11306 </td>
        <td>COMMERCIAL POTASH                                           </td>
    </tr>
    <tr id="tr_cco">
        <td>11307 </td>
        <td>COMMERCIAL PHOSPHATE                                        </td>
    </tr>
    <tr id="tr_cco">
        <td>11308 </td>
        <td>COMMERCIAL SULPHURIC ACID                                   </td>
    </tr>
    <tr id="tr_cco">
        <td>11309 </td>
        <td>COMMERCIAL FERTILIZERS                                      </td>
    </tr>
    <tr id="tr_cco">
        <td>11310 </td>
        <td>COMMERCIAL ALUMINUM                                         </td>
    </tr>
    <tr id="tr_cco">
        <td>11311 </td>
        <td>COMMERCIAL BAUXITE                                          </td>
    </tr>
    <tr id="tr_cco">
        <td>11312 </td>
        <td>COMMERCIAL COBALT                                           </td>
    </tr>
    <tr id="tr_cco">
        <td>11313 </td>
        <td>COMMERCIAL DIAMONDS                                         </td>
    </tr>
    <tr id="tr_cco">
        <td>11314 </td>
        <td>COMMERCIAL FERRO ALLOY                                      </td>
    </tr>
    <tr id="tr_cco">
        <td>11315 </td>
        <td>COMMERCIAL MISC BASE METALS                                 </td>
    </tr>
    <tr id="tr_cco">
        <td>11316 </td>
        <td>COMMERCIAL PLATINUM                                         </td>
    </tr>
    <tr id="tr_cco">
        <td>11317 </td>
        <td>COMMERCIAL URANIUM                                          </td>
    </tr>
    <tr id="tr_cco">
        <td>11318 </td>
        <td>COMMERCIAL OTHERS                                           </td>
    </tr>
    <tr id="tr_cco">
        <td>11900 </td>
        <td>RECOVERY TO PROJECTS-ENGINEERING                            </td>
    </tr>
    <tr id="tr_cco">
        <td>11901 </td>
        <td>RECOVERY TO PROJECT -SERVICES                               </td>
    </tr>
    <tr id="tr_cco">
        <td>11902 </td>
        <td>RECOVERY TO PROJECT PROCUREMENT                             </td>
    </tr>
    <tr id="tr_cco">
        <td>11903 </td>
        <td>RECOVERY TO PROJECT QUALITY                                 </td>
    </tr>
    <tr id="tr_cco">
        <td>11904 </td>
        <td>RECOVERY TO PROJECT HSSE                                    </td>
    </tr>
    <tr id="tr_cco">
        <td>11970 </td>
        <td>VP PROJECT COMPENSACION                                     </td>
    </tr>
    <tr id="tr_cco">
        <td>11971 </td>
        <td>TIEMPO NO UTILIZADO                                         </td>
    </tr>
    <tr id="tr_cco">
        <td>11972 </td>
        <td>OVERHEAD HHRR                                               </td>
    </tr>
    <tr id="tr_cco">
        <td>11973 </td>
        <td>OVERHEAD GERENCIA DE CONTRATOS                              </td>
    </tr>
    <tr id="tr_cco">
        <td>11974 </td>
        <td>OVERHEAD  HSSEC                                             </td>
    </tr>
    <tr id="tr_cco">
        <td>11977 </td>
        <td>OVERHEAD GERENCIA EDICION TECNICA                           </td>
    </tr>
    <tr id="tr_cco">
        <td>11978 </td>
        <td>OH QUALITY ASSURANCE                                        </td>
    </tr>
    <tr id="tr_cco">
        <td>11979 </td>
        <td>OVERHEAD GERENCIA GEOTECNIA                                 </td>
    </tr>
    <tr id="tr_cco">
        <td>11983 </td>
        <td>OVERHEAD E&amp;W - LATAM SUPPORT                                </td>
    </tr>
    <tr id="tr_cco">
        <td>11987 </td>
        <td>OH OPERACIONES                                              </td>
    </tr>
    <tr id="tr_cco">
        <td>11988 </td>
        <td>OH TECHNICAL SERVICES                                       </td>
    </tr>
    <tr id="tr_cco">
        <td>11989 </td>
        <td>OH SHARED SERVICES                                          </td>
    </tr>
    <tr id="tr_cco">
        <td>11992 </td>
        <td>OVERHEAD PROCESOS                                           </td>
    </tr>
    <tr id="tr_cco">
        <td>11993 </td>
        <td>OVERHEAD MECANICA-TUBERIAS                                  </td>
    </tr>
    <tr id="tr_cco">
        <td>11994 </td>
        <td>OVERHEAD CIVIL-ESTRUCTURAS-ARQUITECTURA                     </td>
    </tr>
    <tr id="tr_cco">
        <td>11995 </td>
        <td>OVERHEAD ELECTRICA-INSTRUMENTACION                          </td>
    </tr>
    <tr id="tr_cco">
        <td>11996 </td>
        <td>OVERHEAD GERENCIA SERV PROYECTOS                            </td>
    </tr>
    <tr id="tr_cco">
        <td>11997 </td>
        <td>OVERHEAD GERENCIA ABASTECIMIENTO                            </td>
    </tr>
    <tr id="tr_cco">
        <td>11998 </td>
        <td>OVERHEAD GERENCIA DE PROYECTOS                              </td>
    </tr>
    <tr id="tr_cco">
        <td>12304 </td>
        <td>REESTRUCTURACION                                            </td>
    </tr>
    <tr id="tr_cco">
        <td>12500 </td>
        <td>OCUPANCY                                                    </td>
    </tr>
    <tr id="tr_cco">
        <td>12501 </td>
        <td>ARRENDAMIENTO FINANCIERO-NIIF16                             </td>
    </tr>
    <tr id="tr_cco">
        <td>13020 </td>
        <td>PROSPECTOS VOLCAN                                           </td>
    </tr>
    <tr id="tr_cco">
        <td>13027 </td>
        <td>MARCOBRE - MARKETING                                        </td>
    </tr>
    <tr id="tr_cco">
        <td>13225 </td>
        <td>ESTUDIOS SOCIOAMBIENTALES - BUENAVENTURA                    </td>
    </tr>
    <tr id="tr_cco">
        <td>13226 </td>
        <td>ESTUDIOS SOCIOAMBIENTALES PANORO APURIMAC - MISC BASE METALS</td>
    </tr>
    <tr id="tr_cco">
        <td>13227 </td>
        <td>ESTUDIOS SOCIOAMBIENTALES FORTUNA MINERALS- MISC BASE METALS</td>
    </tr>
    <tr id="tr_cco">
        <td>13228 </td>
        <td>ESTUDIOS MONITOREO SOCIAMBIENTAL-FENIX POWER-MISC BASE METAI</td>
    </tr>
    <tr id="tr_cco">
        <td>13229 </td>
        <td>PLANTA CEMENTO PIURA-CEMENTOS PACASMAYO-MISC BASE METALS    </td>
    </tr>
    <tr id="tr_cco">
        <td>13230 </td>
        <td>ESTUDIOS DE INGENERIA - VALE - MISC BASE METALS             </td>
    </tr>
    <tr id="tr_cco">
        <td>13231 </td>
        <td>EST SOC AMB DESARROLLO FORESTAL XSTRATA - COPPER            </td>
    </tr>
    <tr id="tr_cco">
        <td>13232 </td>
        <td>ESTUDIOS SOC AMBIENTALES ZINCORE - MISC BASE METAIS         </td>
    </tr>
    <tr id="tr_cco">
        <td>13233 </td>
        <td>EST SOC AMB ENERGY &amp; PETROLEO-EMBAJADA CANADA-MIS BASE METAI</td>
    </tr>
    <tr id="tr_cco">
        <td>13235 </td>
        <td>ESTUDIOS MEDIO AMB - MINERA BATEAS - SILVER                 </td>
    </tr>
    <tr id="tr_cco">
        <td>13236 </td>
        <td>ESTUDIOS DE ENERGIA - MEDIO AMB - MONTEALTO                 </td>
    </tr>
    <tr id="tr_cco">
        <td>13237 </td>
        <td>GESTION HOMOLOGACIONES                                      </td>
    </tr>
    <tr id="tr_cco">
        <td>14408 </td>
        <td>13-1335 TRADE-OFF SIST TRANSPORTE ALMACEN MILPO-COPPER      </td>
    </tr>
    <tr id="tr_cco">
        <td>14409 </td>
        <td>13-1336 EARLY WORKS - 5TO MOLINO DE BOLAS-ANTAMINA-COPPER   </td>
    </tr>
    <tr id="tr_cco">
        <td>14410 </td>
        <td>13-1337 DEBOTTLENECKING-DES ING INS EQUI MEC-ANTAMINA-COPPER</td>
    </tr>
    <tr id="tr_cco">
        <td>14411 </td>
        <td>13-1333 DES EXP TÉC EIA-PLANTAS TRATAM-ANTAMINA-COPPER      </td>
    </tr>
    <tr id="tr_cco">
        <td>14412 </td>
        <td>13-1340 EIA UCHUCCHACUA - BUENAVENTURA - SILVER             </td>
    </tr>
    <tr id="tr_cco">
        <td>14413 </td>
        <td>13-1341 ABASTECIMIENTO AGUA HUANCAVELICA-MILPO- MISC BASE ME</td>
    </tr>
    <tr id="tr_cco">
        <td>14414 </td>
        <td>13-1342 SERV EST LAB &amp; REOLOGIA PRO TAILINGS-CERRO VERDE-COP</td>
    </tr>
    <tr id="tr_cco">
        <td>14415 </td>
        <td>13-1343 SAN LUIS - EOI - SILVER STANDARD-SAN LUIS- SILVER   </td>
    </tr>
    <tr id="tr_cco">
        <td>14416 </td>
        <td>DIAG.DE LA OPERAC DE LA CENTRAL HIDROELECT MINA PITINGA MINS</td>
    </tr>
    <tr id="tr_cco">
        <td>14418 </td>
        <td>13-1346  ENVIRONM IMPACT ASSESSMENT - JINZHAO - IRON ORE    </td>
    </tr>
    <tr id="tr_cco">
        <td>14419 </td>
        <td>13-1347 CEMENT PLANT IN PIURA CEMENTO PACASMAYO-MISC BASE ME</td>
    </tr>
    <tr id="tr_cco">
        <td>14420 </td>
        <td>13-1350 AQUATIC LIFE MONITORING - YANACOCHA - GOLD          </td>
    </tr>
    <tr id="tr_cco">
        <td>14421 </td>
        <td>13-1351 TERRESTRIAL BIODIVERSITY - YANACOCHA- GOLD          </td>
    </tr>
    <tr id="tr_cco">
        <td>14430 </td>
        <td>13-1360 WATER TREATMENT BASIC ENG YANACOCHA MISC            </td>
    </tr>
    <tr id="tr_cco">
        <td>14431 </td>
        <td>13-1361 DETAIL ENG REPLACEMENT ABON SIZER-GOLD FIELDS-GOLD  </td>
    </tr>
    <tr id="tr_cco">
        <td>14432 </td>
        <td>13-1358 ROCK MECHANIC STUDY RELOCATION CYCLONES-PHAS FREEPOR</td>
    </tr>
    <tr id="tr_cco">
        <td>14433 </td>
        <td>13-1365 ENVIRONMENTAL MONITORING PLAN FENIX - MISC BASE META</td>
    </tr>
    <tr id="tr_cco">
        <td>14440 </td>
        <td>13-1370 ENVIRONMENTAL IMPACT ASSESSMENT UPDATING - BUENAVENT</td>
    </tr>
    <tr id="tr_cco">
        <td>14441 </td>
        <td>13-1371 SUPPORT FOR PRESENTATION OF MONTREAL OFFICE PROPOSAL</td>
    </tr>
    <tr id="tr_cco">
        <td>14469 </td>
        <td>13-1414 TRANSLATION OF FS DELIVERABLES FOR PAMPA DE PONGO PR</td>
    </tr>
    <tr id="tr_cco">
        <td>14641 </td>
        <td>ESTUDIO TRADE-OFF Y PF OPTIMATIZ PLANTA CONCENTRADORA       </td>
    </tr>
    <tr id="tr_cco">
        <td>14642 </td>
        <td>PLAN DE CIERRE MINA CHAPI                                   </td>
    </tr>
    <tr id="tr_cco">
        <td>14643 </td>
        <td>PLAN DE CIERRE PUKAQAQA                                     </td>
    </tr>
    <tr id="tr_cco">
        <td>14644 </td>
        <td>SUPERV. PROY.SISTEMA ABASTECIMIENTO                         </td>
    </tr>
    <tr id="tr_cco">
        <td>14648 </td>
        <td>ING BASICA EXTENDIDA NUEVO SISTEMA TRANSF CRUDO             </td>
    </tr>
    <tr id="tr_cco">
        <td>14714 </td>
        <td>16-00-0065 INGENIERIA PROYECTOS ELECTROMECANICOS            </td>
    </tr>
    <tr id="tr_cco">
        <td>14783 </td>
        <td>16-01-0188-CORP.CENTRO EL TORO-MONITOREO VIDA SILVESTRE FLOR</td>
    </tr>
    <tr id="tr_cco">
        <td>14788 </td>
        <td>16-01-0185-CENTRO EL TORO-ESTUDIO HIDROGEOLOGICO            </td>
    </tr>
    <tr id="tr_cco">
        <td>14798 </td>
        <td>16-01-0218-MARCOBRE-ACCIONES LEVANTAR BRECHAS               </td>
    </tr>
    <tr id="tr_cco">
        <td>14799 </td>
        <td>16-01-0220-CNPC-ELABORACION GESTION ITS                     </td>
    </tr>
    <tr id="tr_cco">
        <td>14802 </td>
        <td>16-01-0223 ACTUALIZACION MODELO CALIDAD DE AGUA             </td>
    </tr>
    <tr id="tr_cco">
        <td>14803 </td>
        <td>MONITOREO HIDROBIOLÓGICO AGUAS DEBAJO DE LA POZA DE CLARIFIC</td>
    </tr>
    <tr id="tr_cco">
        <td>14804 </td>
        <td>16-00-0163 - SUPERVISIÓN DE LAS OBRAS PARA LA FASE 6B       </td>
    </tr>
    <tr id="tr_cco">
        <td>14899 </td>
        <td>16-02-0206-PTP-SUPERVISION ESPECIALIDAD MECANICA            </td>
    </tr>
    <tr id="tr_cco">
        <td>14956 </td>
        <td>11-1134 MODELACION DE LAS EMISIONES DE POLVO - ANGLOAMERICA </td>
    </tr>
    <tr id="tr_cco">
        <td>14976 </td>
        <td>11-1169 MANT. MONITOREO SOC. AMBIENTAL - JINZHAO            </td>
    </tr>
    <tr id="tr_cco">
        <td>14977 </td>
        <td>12-1178 ESTRATEGIA INV FORESTAL - BID                       </td>
    </tr>
    <tr id="tr_cco">
        <td>14978 </td>
        <td>12-1179  ING DETALLE MUELLE TISUR - ODEBRECHT               </td>
    </tr>
    <tr id="tr_cco">
        <td>14979 </td>
        <td>12-1172 ING DETALLE GOLD MILL - YANACOCHA                   </td>
    </tr>
    <tr id="tr_cco">
        <td>14980 </td>
        <td>12-1180 ESTUDIO IMPACTO SOC (EIS) - LA ARENA - RIO ALTO     </td>
    </tr>
    <tr id="tr_cco">
        <td>14981 </td>
        <td>12-1181 HIDROELÉCTRICA HUANCHOR - DD AMB &amp; SOC - CAF        </td>
    </tr>
    <tr id="tr_cco">
        <td>14982 </td>
        <td>12-1184 - SIST CONDIC DE AGUA - YANACOCHA                   </td>
    </tr>
    <tr id="tr_cco">
        <td>14983 </td>
        <td>12-1185 - REG DE AGUAS - YANACOCHA                          </td>
    </tr>
    <tr id="tr_cco">
        <td>14984 </td>
        <td>12-1193 SOPORTE - PROYECTO PETAQUILLAS                      </td>
    </tr>
    <tr id="tr_cco">
        <td>14985 </td>
        <td>12-1187 ESTUDIO DE OPTIMIZACIÓN DE PUKAQAQA - MILPO         </td>
    </tr>
    <tr id="tr_cco">
        <td>14986 </td>
        <td>12-1191 SERV. ING BASICA &amp; PROC  ALPAMARCA - VOLCAN         </td>
    </tr>
    <tr id="tr_cco">
        <td>14987 </td>
        <td>12-1186 EST CONC REFINERIA  COBRE - VOTORANTIM              </td>
    </tr>
    <tr id="tr_cco">
        <td>14988 </td>
        <td>12-1194 DESARROLOO ING GOLD MILL PAQUETE B-YANACOCHA        </td>
    </tr>
    <tr id="tr_cco">
        <td>14989 </td>
        <td>12-1196 HAQUIRA LINEA BASE - FIRST QUANTUM                  </td>
    </tr>
    <tr id="tr_cco">
        <td>14990 </td>
        <td>12-1182 EOI PFS &amp; FS - ATALAYA - MIN STA LUISA              </td>
    </tr>
    <tr id="tr_cco">
        <td>14991 </td>
        <td>12-1197 CONCEPTUAL STUDY ATALAYA PROJECT-MINERA STA LUISA   </td>
    </tr>
    <tr id="tr_cco">
        <td>14992 </td>
        <td>12-1182 EOI CS &amp; PRE FS ATALAYA - MIN STA LUISA             </td>
    </tr>
    <tr id="tr_cco">
        <td>14993 </td>
        <td>121198 - DEC IMPAC AMB  VIZCACHAS SUR - BARRICK             </td>
    </tr>
    <tr id="tr_cco">
        <td>14994 </td>
        <td>12-1201 ACTUALIZA EST FACTIBILIDAD PUKAQAQA - MILPO         </td>
    </tr>
    <tr id="tr_cco">
        <td>14995 </td>
        <td>12-1203 PLAN INTEG LMPS &amp; ECAS - YANACOCHA                  </td>
    </tr>
    <tr id="tr_cco">
        <td>14996 </td>
        <td>12-1204 - EIA - PUCAMARCA - MINSUR                          </td>
    </tr>
    <tr id="tr_cco">
        <td>14997 </td>
        <td>12-1205 CHEVES - EVA ARQUEOLOGICA - CHEVES SA               </td>
    </tr>
    <tr id="tr_cco">
        <td>14998 </td>
        <td>12-1188 CASTELLANOS - EPCM - CATELLANOS                     </td>
    </tr>
    <tr id="tr_cco">
        <td>15360 </td>
        <td>INDEP ENGINEER ROLE J.CHAVEZ - CONCEPT STUDY - L.A.P.       </td>
    </tr>
    <tr id="tr_cco">
        <td>154170</td>
        <td>UNIDAD MINERA JULCANI - EIA - BUENAVENTURA                  </td>
    </tr>
    <tr id="tr_cco">
        <td>15456 </td>
        <td>OR TRUCKSHOP - ENGINEERING - ANTAMINA                       </td>
    </tr>
    <tr id="tr_cco">
        <td>15459 </td>
        <td>PERMISOS REC HIDRICOS CAMPAMENTO - ENV SERVICES- SICIM      </td>
    </tr>
    <tr id="tr_cco">
        <td>15460 </td>
        <td>CHONTAYACU - EIA - HIDROELECTRICAS LIMA                     </td>
    </tr>
    <tr id="tr_cco">
        <td>15461 </td>
        <td>ANTAMINA - CONSULT HIDROGEOLOGICA, DRENAJE Y TAJO - ENV SERV</td>
    </tr>
    <tr id="tr_cco">
        <td>154610</td>
        <td>ANTAMINA - CONSULT HIDROGEOLOGICA, DRENAJE Y TAJO - ENV SERV</td>
    </tr>
    <tr id="tr_cco">
        <td>15462 </td>
        <td>MONITOR HIDROBIOLOGICO FLORA FAUNA - BIOLOG SERV - ANTAMINA </td>
    </tr>
    <tr id="tr_cco">
        <td>154620</td>
        <td>MONITOR HIDROBIOLOGICO FLORA FAUNA - BIOLOG SERV - ANTAMINA </td>
    </tr>
    <tr id="tr_cco">
        <td>15463 </td>
        <td>GASODUCTO SUR PERUANO - MONITOREO AMBIENTAL - CCDS          </td>
    </tr>
    <tr id="tr_cco">
        <td>15469 </td>
        <td>ESTUDIO DE BIODIVERSIDAD - ENV SERVICES - LAS BAMBAS COMP   </td>
    </tr>
    <tr id="tr_cco">
        <td>154690</td>
        <td>ESTUDIO DE BIODIVERSIDAD - ENV SERVICES - LAS BAMBAS COMP   </td>
    </tr>
    <tr id="tr_cco">
        <td>15472 </td>
        <td>ITS -  MEJORAS SEG ENERGETICA GSP - CCDS                    </td>
    </tr>
    <tr id="tr_cco">
        <td>15474 </td>
        <td>ANAL. RIESGOS RUTA DE TRANSPORTE - ENV SERVICES - LAS BAMBAS</td>
    </tr>
    <tr id="tr_cco">
        <td>154740</td>
        <td>ANAL. RIESGOS RUTA DE TRANSPORTE - ENV SERVICES - LAS BAMBAS</td>
    </tr>
    <tr id="tr_cco">
        <td>15475 </td>
        <td>ESTUDIO DE BOFEDALES Y MANATIALES - ENV SERVICES - CCDS     </td>
    </tr>
    <tr id="tr_cco">
        <td>15476 </td>
        <td>HABITATS CRITICOS GEOTECNIA - ENV SERVICES - CCDS           </td>
    </tr>
    <tr id="tr_cco">
        <td>15477 </td>
        <td>ADECUACION SISTEMA SCADA - SUPERVISION - CALIDDA            </td>
    </tr>
    <tr id="tr_cco">
        <td>15487 </td>
        <td>APROVECHAMIENTO HIDROELECTRICO - EST CONCEPTUAL - ANTAMINA  </td>
    </tr>
    <tr id="tr_cco">
        <td>15497 </td>
        <td>LNG - MARINE ECOSYSTEM - ENV MONITORING SERVICES            </td>
    </tr>
    <tr id="tr_cco">
        <td>154970</td>
        <td>LNG - MARINE ECOSYSTEM - ENV MONITORING SERVICES            </td>
    </tr>
    <tr id="tr_cco">
        <td>15498 </td>
        <td>PAN AMERICAN - HUARON - ACTUALIZACION EIA                   </td>
    </tr>
    <tr id="tr_cco">
        <td>154980</td>
        <td>PAN AMERICAN - HUARON - ACTUALIZACION EIA                   </td>
    </tr>
    <tr id="tr_cco">
        <td>15500 </td>
        <td>VALIDACION DEL FEED Y ESTUDIO LINEA BASE - GSP              </td>
    </tr>
    <tr id="tr_cco">
        <td>15502 </td>
        <td>MOD.DEL PLAN DE CIERRE DE LA U.M. UCHUCCHACUA               </td>
    </tr>
    <tr id="tr_cco">
        <td>15506 </td>
        <td>GSP-VALIDACION DE ELBA- GASODUCTOS REGIONALES               </td>
    </tr>
    <tr id="tr_cco">
        <td>15510 </td>
        <td>REVISION SGA Y SOCIAL-SUPERVISION-LAP                       </td>
    </tr>
    <tr id="tr_cco">
        <td>155100</td>
        <td>REVISION SGA Y SOCIAL-SUPERVISION-LAP                       </td>
    </tr>
    <tr id="tr_cco">
        <td>15511 </td>
        <td>ELABOR GUIA CRITERIOS PARA ITS AL SENACE -CONSULTORIA-GIZ   </td>
    </tr>
    <tr id="tr_cco">
        <td>15512 </td>
        <td>MEIA NUEVA FUENTA AGUA UM PUCAMARCA-CONSULTORIA-MINSUR      </td>
    </tr>
    <tr id="tr_cco">
        <td>15515 </td>
        <td>SUPERVISION SOPLADORES - LAS BAMBAS                         </td>
    </tr>
    <tr id="tr_cco">
        <td>15516 </td>
        <td>ITS CONVERSION A JASORITA, CAMBIO DE M.E Y DCS-VOTORANTIN   </td>
    </tr>
    <tr id="tr_cco">
        <td>15517 </td>
        <td>APOYO A ITANSUCA COLOMBIA                                   </td>
    </tr>
    <tr id="tr_cco">
        <td>15518 </td>
        <td>ACTUALIZACION EIA - SUPERVISION -LINEA AMARILLA             </td>
    </tr>
    <tr id="tr_cco">
        <td>155180</td>
        <td>ACTUALIZACION EIA - SUPERVISION -LINEA AMARILLA             </td>
    </tr>
    <tr id="tr_cco">
        <td>15519 </td>
        <td>INFORME TECNICO UNIDAD ECONOMICA-ADMINISTRATIVA ORCOPAMPA-BU</td>
    </tr>
    <tr id="tr_cco">
        <td>155190</td>
        <td>INFORME TECNICO UNIDAD ECONOMICA-ADMINISTRATIVA ORCOPAMPA-BU</td>
    </tr>
    <tr id="tr_cco">
        <td>15521 </td>
        <td>CODELCO ACID PLANT - SUPPORT - TORONTO                      </td>
    </tr>
    <tr id="tr_cco">
        <td>15522 </td>
        <td>EVAP- REEMPLAZO 28 PUENTES-CONSULTORIA-ICCGSA               </td>
    </tr>
    <tr id="tr_cco">
        <td>155220</td>
        <td>EVAP- REEMPLAZO 28 PUENTES-CONSULTORIA-ICCGSA               </td>
    </tr>
    <tr id="tr_cco">
        <td>15523 </td>
        <td>ANTAMINA FASE B                                             </td>
    </tr>
    <tr id="tr_cco">
        <td>15524 </td>
        <td>EVALUACION AMBIENTAL-CONSULTORI-LAS BAMBAS                  </td>
    </tr>
    <tr id="tr_cco">
        <td>155240</td>
        <td>EVALUACION AMBIENTAL-CONSULTORI-LAS BAMBAS                  </td>
    </tr>
    <tr id="tr_cco">
        <td>15525 </td>
        <td>MANEJO AVIFAUNA ZONA TMF - HUDBAY                           </td>
    </tr>
    <tr id="tr_cco">
        <td>155250</td>
        <td>MANEJO AVIFAUNA ZONA TMF - HUDBAY                           </td>
    </tr>
    <tr id="tr_cco">
        <td>15526 </td>
        <td>DIA-PROYECTO PROVIAS PUNO-36 PUENTES-HUALCA                 </td>
    </tr>
    <tr id="tr_cco">
        <td>155260</td>
        <td>DIA-PROYECTO PROVIAS PUNO-36 PUENTES-HUALCA                 </td>
    </tr>
    <tr id="tr_cco">
        <td>15528 </td>
        <td>ESTUDIO PERFIL INSTALACION DE UNA FUNDICION DE COBRE        </td>
    </tr>
    <tr id="tr_cco">
        <td>15537 </td>
        <td>CIRA Y PMA DE 28 PUENTES - ICCGSA                           </td>
    </tr>
    <tr id="tr_cco">
        <td>155370</td>
        <td>CIRA Y PMA DE 28 PUENTES - ICCGSA/CPPP                      </td>
    </tr>
    <tr id="tr_cco">
        <td>15538 </td>
        <td>CONTRATO MARCO PERU LNG                                     </td>
    </tr>
    <tr id="tr_cco">
        <td>15539 </td>
        <td>REUBICACIONES DE CICLONES                                   </td>
    </tr>
    <tr id="tr_cco">
        <td>15540 </td>
        <td>PROYECTO MATRIZ ENERGETICA - VOTORANTIM                     </td>
    </tr>
    <tr id="tr_cco">
        <td>155400</td>
        <td>PROYECTO MATRIZ ENERGETICA - VOTORANTIM                     </td>
    </tr>
    <tr id="tr_cco">
        <td>15543 </td>
        <td>ITS DEL PAMA - JULCANI-BUENAVENTURA                         </td>
    </tr>
    <tr id="tr_cco">
        <td>155430</td>
        <td>ITS DEL PAMA - JULCANI                                      </td>
    </tr>
    <tr id="tr_cco">
        <td>15544 </td>
        <td>DISEÑO DE PROYECTOS SOCIALES-LAP                            </td>
    </tr>
    <tr id="tr_cco">
        <td>15546 </td>
        <td>GUIA DE ELABORACION DE LINEA BASE - GIZ                     </td>
    </tr>
    <tr id="tr_cco">
        <td>155460</td>
        <td>GUIA DE ELABORACION DE LINEA BASE - GIZ                     </td>
    </tr>
    <tr id="tr_cco">
        <td>15548 </td>
        <td>2DO ITS UEA UCHUCCHACUA - CMB-BUENAVENTURA                  </td>
    </tr>
    <tr id="tr_cco">
        <td>15549 </td>
        <td>ESTUDIO GEOLOGICO-GEOTECNICO CASA BLANCA                    </td>
    </tr>
    <tr id="tr_cco">
        <td>15550 </td>
        <td>MODIFICACIÓN EIA - PROYECTO TAMBOMAYO - CMB-BUENAVENTURA    </td>
    </tr>
    <tr id="tr_cco">
        <td>15551 </td>
        <td>EIA DEL PROYECTO CENTRALES HIDROELÉCTRICAS CHONTAYACU       </td>
    </tr>
    <tr id="tr_cco">
        <td>15552 </td>
        <td>PROYECTO BACKFILL YESENIA YANACOCHA                         </td>
    </tr>
    <tr id="tr_cco">
        <td>15553 </td>
        <td>MODIF. PLAN CIERRE UM POZO RICO-BUENAVENTURA                </td>
    </tr>
    <tr id="tr_cco">
        <td>15555 </td>
        <td>PERMISOS AMBIENTALES PROY KELLO KELLO-TECK                  </td>
    </tr>
    <tr id="tr_cco">
        <td>15556 </td>
        <td>UP GRADE INSTRUMENTACIÓN Y CONTROL - PLANTA PPAL-SOLGAS     </td>
    </tr>
    <tr id="tr_cco">
        <td>15557 </td>
        <td>ASESORIA HIDROLOGICA PROYECTO PUKAQAQA                      </td>
    </tr>
    <tr id="tr_cco">
        <td>15558 </td>
        <td>EA Y EXPEDIENTES PERMISOS- PROY. EXPLORACION KAVAL-HUDBAY   </td>
    </tr>
    <tr id="tr_cco">
        <td>15559 </td>
        <td>ELABORACION DIA, CIRA E INICIO DE ACTIVIDADES EN ANTIPE Y CA</td>
    </tr>
    <tr id="tr_cco">
        <td>15561 </td>
        <td>FACTIBILIDAD DE DISEÑO DIQUE DE PROTECCION BOOSTERŸ         </td>
    </tr>
    <tr id="tr_cco">
        <td>15562 </td>
        <td>ELABORACION EXPEDIENTES DE WATERING - LAGUNAS NORTE-BARRICK </td>
    </tr>
    <tr id="tr_cco">
        <td>15564 </td>
        <td>REVISION PLANOS PARA FABRICACION                            </td>
    </tr>
    <tr id="tr_cco">
        <td>15566 </td>
        <td>MODIF. ACTUALIZACIÓN DEL PLAN DE CIERRE DE LA UEA UCHUCCHUCU</td>
    </tr>
    <tr id="tr_cco">
        <td>15567 </td>
        <td>ESTUDIO DETERMINACION TAXONOMICA DE HERPETOFAUNA            </td>
    </tr>
    <tr id="tr_cco">
        <td>15568 </td>
        <td>ESTUDIO DE BIODIVERSIDAD PARA LAS BAMBAS                    </td>
    </tr>
    <tr id="tr_cco">
        <td>15570 </td>
        <td>INGENIERIA DE DETALLE JAROSITA                              </td>
    </tr>
    <tr id="tr_cco">
        <td>15571 </td>
        <td>EIA PROYECTOS EÓLICOS - CENTRAL PUNTA LOMITA - ENGIE        </td>
    </tr>
    <tr id="tr_cco">
        <td>15572 </td>
        <td>ELABORACION EXPEDIENTE ITS CERRO LINDO                      </td>
    </tr>
    <tr id="tr_cco">
        <td>15574 </td>
        <td>LINEA BASE ANTAMINA                                         </td>
    </tr>
    <tr id="tr_cco">
        <td>15577 </td>
        <td>LAS BAMBAS MSA INGENIERIA EXTERNA                           </td>
    </tr>
    <tr id="tr_cco">
        <td>155771</td>
        <td>INGENERIA DE DETALLE PARA LA AMPLIACION LABORATORIO ALS     </td>
    </tr>
    <tr id="tr_cco">
        <td>155772</td>
        <td>MSA LAS BAMBAS CONCENTRATE SHED-SLAB PUMPING SYSTEM         </td>
    </tr>
    <tr id="tr_cco">
        <td>15579 </td>
        <td>HORAS HOMBRE AUSTRALIA DANIEL BAILEY                        </td>
    </tr>
    <tr id="tr_cco">
        <td>15583 </td>
        <td>SUPERVISIÓN DE INGENIERÍA PFS CCS, BN 145 KTPD              </td>
    </tr>
    <tr id="tr_cco">
        <td>15586 </td>
        <td>ESTUDIO DE POBLACION DE GUANACO                             </td>
    </tr>
    <tr id="tr_cco">
        <td>15587 </td>
        <td>DEVELOPMENT OF CLASS 3 FEASIBILITY STUDY CAPITAL COST ESTIMA</td>
    </tr>
    <tr id="tr_cco">
        <td>15589 </td>
        <td>MEIA SEMIDETALLADO - PROYECTOS AYAWILCA Y COLQUIPUCRO       </td>
    </tr>
    <tr id="tr_cco">
        <td>15590 </td>
        <td>INDEPENDENT REVIEW MQC QUEBRADONA                           </td>
    </tr>
    <tr id="tr_cco">
        <td>15595 </td>
        <td>REVISIÓN CAPÍTULOS LÍNEA BASE - EIA ZAFRANAL".              </td>
    </tr>
    <tr id="tr_cco">
        <td>15596 </td>
        <td> "ASESORÍA GESTIÓN DE PERMISOS - ANTAMINA".                 </td>
    </tr>
    <tr id="tr_cco">
        <td>15597 </td>
        <td>"LÍNEA BASE SOCIAL COMUNIDAD QUEHUINCHA - HUDBAY".          </td>
    </tr>
    <tr id="tr_cco">
        <td>15598 </td>
        <td>EVLUACION FLORA Y FAUNA QUEBRADA ITAÑA                      </td>
    </tr>
    <tr id="tr_cco">
        <td>15600 </td>
        <td>"EIA-D PROY. REDUCCIÓN DE EMISIÓN SO2 - SPCC                </td>
    </tr>
    <tr id="tr_cco">
        <td>15601 </td>
        <td>CONTRATO MARCO PARA EL DESARROLLO DE ESTUDIOS DE INGENIERIA"</td>
    </tr>
    <tr id="tr_cco">
        <td>15603 </td>
        <td>ACTUALIZACION DE MODELO DE CALIDAD DE AIRE                  </td>
    </tr>
    <tr id="tr_cco">
        <td>15608 </td>
        <td>ITS PARA EL INCREMENTO DEL 10% CAPACIDAD DEL DEPOSITO RELAVE</td>
    </tr>
    <tr id="tr_cco">
        <td>15609 </td>
        <td>"LINEA BASE AMBIENTAL DE LAS RUTAS DE TRANSPORTE DEL PROYECT</td>
    </tr>
    <tr id="tr_cco">
        <td>15610 </td>
        <td>MONITOREO AMBIENTAL Y BIOLOG DEL PYTO AYAWILCA              </td>
    </tr>
    <tr id="tr_cco">
        <td>15611 </td>
        <td>SERVICIO DE MONITOREO BIOLOGICO EN MINA Y PUERTO            </td>
    </tr>
    <tr id="tr_cco">
        <td>15612 </td>
        <td>AUTORIZACION DE USO DE AGUA Y LICENCIA DE AGUA              </td>
    </tr>
    <tr id="tr_cco">
        <td>15613 </td>
        <td>"REVISIÓN DE LA INGEN.DE DETALLE PARA LAS FAC.DE CHALCOBAMBA</td>
    </tr>
    <tr id="tr_cco">
        <td>15614 </td>
        <td>EXPEDIENTE DE ITS PROYECTOS VARIOS U.M. ATACOCHA            </td>
    </tr>
    <tr id="tr_cco">
        <td>15615 </td>
        <td>"FS ENHANCEMENT AND INTEGRATOR- SOTO NORTE PROJECT"         </td>
    </tr>
    <tr id="tr_cco">
        <td>15616 </td>
        <td>ACTUALIZACION DEL BALANCE DE AGUA VERSION MANEJO INTEGRAL   </td>
    </tr>
    <tr id="tr_cco">
        <td>15617 </td>
        <td>SERV.SOCIOAMB.IMPACTO AMBIENTAL ANTAMINA                    </td>
    </tr>
    <tr id="tr_cco">
        <td>15619 </td>
        <td>ELABORACION DE PLAN AMBIENTAL CERRO LINDO                   </td>
    </tr>
    <tr id="tr_cco">
        <td>15620 </td>
        <td>SERV IMPLEMENT QUINTA ETAPA HUDBAY                          </td>
    </tr>
    <tr id="tr_cco">
        <td>15622 </td>
        <td>TERCERA MOD.ESTUDIO I.A UM CONSTANCIA                       </td>
    </tr>
    <tr id="tr_cco">
        <td>15623 </td>
        <td>ESTIMACIONES DE ALTO NIVEL PARA RDP                         </td>
    </tr>
    <tr id="tr_cco">
        <td>15624 </td>
        <td>ELABORACION DEL TERCER ITS DE CERRO LINDO                   </td>
    </tr>
    <tr id="tr_cco">
        <td>15627 </td>
        <td>MONITOREO BIOLOGICO PINGUINO HUARMEY                        </td>
    </tr>
    <tr id="tr_cco">
        <td>15628 </td>
        <td>THIRD PARTY CAPEX REVIEW FOR FS QUEBRADONA                  </td>
    </tr>
    <tr id="tr_cco">
        <td>15629 </td>
        <td>"CONSULTORÍA VEC - PETROTAL PERÚ S.R.L"                     </td>
    </tr>
    <tr id="tr_cco">
        <td>15630 </td>
        <td>MODELO HIDROLOGICO /BD AIRE RUIDO Y VIBRACIONES-UM CONSTNACI</td>
    </tr>
    <tr id="tr_cco">
        <td>15631 </td>
        <td>TINKA RESOURCES - EIA INTEGRAL- SEGUNDO ITS COLQUIPURCO     </td>
    </tr>
    <tr id="tr_cco">
        <td>15632 </td>
        <td>IAMGOLD PERU-EVALUAC DE AFECT- DERECHOS COLECTIVOS          </td>
    </tr>
    <tr id="tr_cco">
        <td>15633 </td>
        <td>HUDBAY: SERV.2DA MODIF.PLAN CIERRE DE MINA-CONSTANCIA       </td>
    </tr>
    <tr id="tr_cco">
        <td>15634 </td>
        <td>SOLGAS: ELAB.DE HOJAS DE DATOS INSTRUMENTOS-INT ESFERA -T2  </td>
    </tr>
    <tr id="tr_cco">
        <td>15635 </td>
        <td>SMCV "SERVICIO DE ELABORACIÓN DE OBLIGACIONES AMBIENTALES   </td>
    </tr>
    <tr id="tr_cco">
        <td>15636 </td>
        <td>YANACOCHA EVALUAC. DE REDUCCION DE BOMBAS 1250 HP, CARACHUGO</td>
    </tr>
    <tr id="tr_cco">
        <td>15637 </td>
        <td>YANACOCHA MEJORAS EN SIST DE BOMBEO DE MEDIA TENSIÓN - PR   </td>
    </tr>
    <tr id="tr_cco">
        <td>15638 </td>
        <td>ENGIE  CONSULTORÍA PARA EL INSTRUMENTO DE GESTIÓN           </td>
    </tr>
    <tr id="tr_cco">
        <td>15639 </td>
        <td>ENGIE/ SERVICIO  MEIA PUNTA LOMITAS                         </td>
    </tr>
    <tr id="tr_cco">
        <td>15640 </td>
        <td>HUDBAY  EXPEDIENTE DE COMUNICACION PREVIA                   </td>
    </tr>
    <tr id="tr_cco">
        <td>15641 </td>
        <td>NEXA MEIA CERRO LINDO                                       </td>
    </tr>
    <tr id="tr_cco">
        <td>15642 </td>
        <td>BARRICK  INGENERIA DE DETALLE PUKAURAN                      </td>
    </tr>
    <tr id="tr_cco">
        <td>15644 </td>
        <td>EVALUACION DE DERECHOS COLECTIVOS                           </td>
    </tr>
    <tr id="tr_cco">
        <td>15645 </td>
        <td>SUPPORT STRUCTURAL ASSESSMENT AND CONCEPT DESIGN BRITISH AMB</td>
    </tr>
    <tr id="tr_cco">
        <td>15646 </td>
        <td>AUDITORIA ESTRUCTURAL PLANTAS CONCENTRADORAS                </td>
    </tr>
    <tr id="tr_cco">
        <td>15647 </td>
        <td>ANTAPACAY ESTUDIO CAPACIDAD DE INCR. CHANCADO TINTAYA       </td>
    </tr>
    <tr id="tr_cco">
        <td>15648 </td>
        <td>HUDBAY ELABORACION DE EXPEDIENTES UNIDA MINERA CONSTANCIA   </td>
    </tr>
    <tr id="tr_cco">
        <td>15649 </td>
        <td>SMCV "ELABORACIÓN DE OBLIGACIONES AMBIENTALES"ELABORACIÓN DE</td>
    </tr>
    <tr id="tr_cco">
        <td>15651 </td>
        <td>AP TERMINAL: SERV DE EIGA Y EXP MUELLE 7                    </td>
    </tr>
    <tr id="tr_cco">
        <td>15652 </td>
        <td>NEXA .EIA CERRO LINDO PLAYA YAGUAY                          </td>
    </tr>
    <tr id="tr_cco">
        <td>15653 </td>
        <td>CONSULTORIA  IMPLEMENTAC PYTOS ESTUDIOS DE GERENCIA PDN     </td>
    </tr>
    <tr id="tr_cco">
        <td>15654 </td>
        <td>HUDBAY -DIA   PAQUITAS LEVIATAN                             </td>
    </tr>
    <tr id="tr_cco">
        <td>15655 </td>
        <td>LAS BAMBAS  MEMORIA DESCRIPTIVA PARA ITS 8"                 </td>
    </tr>
    <tr id="tr_cco">
        <td>15656 </td>
        <td>BARRICK AMPLIACIÓN DE AUTORIZACIÓN DE EJECUCIÓN DEL PLAN DE </td>
    </tr>
    <tr id="tr_cco">
        <td>15657 </td>
        <td>ZAFRANAL AUDIORIA EIA                                       </td>
    </tr>
    <tr id="tr_cco">
        <td>15658 </td>
        <td>EXSA . MSA  ENGINEERING SERVICES FOR UPGRADING OF NAZCA PRO </td>
    </tr>
    <tr id="tr_cco">
        <td>15659 </td>
        <td>ANTAPACAY: ELABORACIÓN DE IGA 1ER ITS A LA MEIAD            </td>
    </tr>
    <tr id="tr_cco">
        <td>15660 </td>
        <td> BAMBAS EIA  RUTA DE TRANPORTE Y CONCENTRADO Y TRAMO 5      </td>
    </tr>
    <tr id="tr_cco">
        <td>15661 </td>
        <td>ANTAPACAY  -PTAE ESTUDIO DE SELECCIÓN PARA EL POST TRATAMIEN</td>
    </tr>
    <tr id="tr_cco">
        <td>15662 </td>
        <td>SMCV SERVICIO DE INGENIERÍA BÁSICA BOMBEO C1 A TSF LINGA /  </td>
    </tr>
    <tr id="tr_cco">
        <td>15663 </td>
        <td>ANTAMINA SOPORTE TÉCNICO LEGAL PARA CONVENIO ENTRE ANTAMINA </td>
    </tr>
    <tr id="tr_cco">
        <td>15664 </td>
        <td>HUDBAY PERÚ S.A.C.DIAS PARA LOS PROYECTOS MARIA REYNA SW Y C</td>
    </tr>
    <tr id="tr_cco">
        <td>15665 </td>
        <td>TECK PERU ESTUDIOS DE AFECTACION DE DERECHOS COLECTIVOS     </td>
    </tr>
    <tr id="tr_cco">
        <td>15666 </td>
        <td>ANTAMINA MTE02021 - LÍNEA BASE ESTRATÉGICA ANTAMINA         </td>
    </tr>
    <tr id="tr_cco">
        <td>15667 </td>
        <td>APM  TOPOGRAPHIC Y BATHYMETRIC                              </td>
    </tr>
    <tr id="tr_cco">
        <td>15668 </td>
        <td>ANTAPACAY  ESTUDIO PREFAB LOA2022                           </td>
    </tr>
    <tr id="tr_cco">
        <td>15669 </td>
        <td>LIMA EXPRESA EIA ELABORACION  2DA ACTUALI                   </td>
    </tr>
    <tr id="tr_cco">
        <td>15670 </td>
        <td>HUDBAY ESTUDIO DE LEVANT SUELO                              </td>
    </tr>
    <tr id="tr_cco">
        <td>15671 </td>
        <td>ANTAMINA EVALUACION DE RIESGO NESCAFE                       </td>
    </tr>
    <tr id="tr_cco">
        <td>15674 </td>
        <td>SERVICIO DE INGENERIA NUEVO FILTRO PRENSA                   </td>
    </tr>
    <tr id="tr_cco">
        <td>15676 </td>
        <td>BAMBAS ESTUDIO DE DISMINUCIÓN POBLACIONAL Y ESTUDIO ECOLÓGIC</td>
    </tr>
    <tr id="tr_cco">
        <td>15677 </td>
        <td>ANTAPACAY ESTUDIO DE PLAN DE CIERRE DE MINA A NIVEL DE PR   </td>
    </tr>
    <tr id="tr_cco">
        <td>15678 </td>
        <td>BUENAVENTURA MODIFICACION DE PLAN DE  MINA. UCHUCCHUACA     </td>
    </tr>
    <tr id="tr_cco">
        <td>15679 </td>
        <td>EVALUACIÓN DE AFECTACIÓN AL EJERCICIO DE LOS DERECHOS COLECT</td>
    </tr>
    <tr id="tr_cco">
        <td>15680 </td>
        <td>BUENAVENTURA "CUARTA MEIA-SD TAMBOMAYO "                    </td>
    </tr>
    <tr id="tr_cco">
        <td>15681 </td>
        <td>ANTAMINA ESTUDIO HIDROLÓGICO PARA LA ACREDITACIÓN DE LA DISP</td>
    </tr>
    <tr id="tr_cco">
        <td>15682 </td>
        <td>ANTAPACAY ELABORACIÓN DE LA 2DA MEIA ANTAPACCAY EXPANSIÓN TI</td>
    </tr>
    <tr id="tr_cco">
        <td>15683 </td>
        <td>ANGLO AMERICAN GESTION DE PERMISOS AMBIENTALES              </td>
    </tr>
    <tr id="tr_cco">
        <td>15684 </td>
        <td>APM TERMINAL "MEIA TERMINAL CALLAO APM".                    </td>
    </tr>
    <tr id="tr_cco">
        <td>15686 </td>
        <td>ESTUDIO MOLECULAR Y TAXONÓMICO DE TELMATOBIUS               </td>
    </tr>
    <tr id="tr_cco">
        <td>15687 </td>
        <td>DESARROLLO DE ESTUDIOS PARA EL PROYECTO DE OPTI             </td>
    </tr>
    <tr id="tr_cco">
        <td>15688 </td>
        <td>HUDABY SERVICIOS PARA LA IMPLEMENTACIÓN DEL PROGRAMA DE     </td>
    </tr>
    <tr id="tr_cco">
        <td>15689 </td>
        <td>LAS BAMBAS-RESCATE DE ANFIBIOS, REPTILES Y ROEDORES E       </td>
    </tr>
    <tr id="tr_cco">
        <td>15994 </td>
        <td>MULTAS E INTERESES SUNAT                                    </td>
    </tr>
    <tr id="tr_cco">
        <td>17087 </td>
        <td>17-01-0413-ESTUDIO HIDROLÓGICO E HIDRÁULICO DEL PARQUE EÓLIC</td>
    </tr>
    <tr id="tr_cco">
        <td>17089 </td>
        <td>17-01-0417-SERVICIO DE ELABORACIÓN DE MODIFICACIÓN DE LA ACT</td>
    </tr>
    <tr id="tr_cco">
        <td>17099 </td>
        <td>17-00-0436 DETAILED ENGINEERING FOR THE COROCCOHUAYCO PROJEC</td>
    </tr>
    <tr id="tr_cco">
        <td>17100 </td>
        <td>17-00-0441 TOPOGRAPHY AND SOIL MECHANICS STUDY              </td>
    </tr>
    <tr id="tr_cco">
        <td>17101 </td>
        <td>17-00-0440 DETAILED ENGINEERING, THIRD MILL-EL BROCAL       </td>
    </tr>
    <tr id="tr_cco">
        <td>17102 </td>
        <td>17-01-0445 STRENGTHENING OF ABILITIES OF INFLUENTIAL COMMUNI</td>
    </tr>
    <tr id="tr_cco">
        <td>17103 </td>
        <td>17-01-0448 AIR QUALITY MODEL FOR NW NEQUIP WASTEDUMP        </td>
    </tr>
    <tr id="tr_cco">
        <td>17147 </td>
        <td>18-01-0547 MEIA JULCANI - BUENAVENTURA                      </td>
    </tr>
    <tr id="tr_cco">
        <td>17148 </td>
        <td>18-00-0551-REVIEW OF PLANS MANUFACTURING ELECTROMECHANICAL E</td>
    </tr>
    <tr id="tr_cco">
        <td>17149 </td>
        <td>18-01-0554-IMPROVE THE MONITORING PROGRAM OF SURFACE WATER  </td>
    </tr>
    <tr id="tr_cco">
        <td>17150 </td>
        <td>18-00-0539-QUALITY ASSURANCE DURING CONSTRUCTION OF CARACHUG</td>
    </tr>
    <tr id="tr_cco">
        <td>17206 </td>
        <td>18-02-0648-SOLGAS-REVISION Y ACTUALIZACION PLANOS P&amp;ID      </td>
    </tr>
    <tr id="tr_cco">
        <td>17220 </td>
        <td>18-01-0691SERVICIO DE DIAGNÓSTICO RURAL PARTICIPATIVO       </td>
    </tr>
    <tr id="tr_cco">
        <td>17221 </td>
        <td>18-01-0689 MODIFICACIÓN DEL ESTUDIO DE IMPACTO AMBIENTAL SEM</td>
    </tr>
    <tr id="tr_cco">
        <td>17222 </td>
        <td>DESARROLLO DE INGENIERÍA DE DETALLE - FASE 2 BOTADERO DE TIE</td>
    </tr>
    <tr id="tr_cco">
        <td>17223 </td>
        <td>18-01-0690 SERVICIO DE MONITOREO AMBIENTAL PARTICIPATIVO    </td>
    </tr>
    <tr id="tr_cco">
        <td>17412 </td>
        <td>19-00-1048 ALIMENTACION ELECTRICA DE EVAPORADORES EN PPL    </td>
    </tr>
    <tr id="tr_cco">
        <td>17455 </td>
        <td>19-01-1122-HUDBAY-EVALUACION PROPUESTA CONTROL MITIGACION   </td>
    </tr>
    <tr id="tr_cco">
        <td>17460 </td>
        <td>19-01-1126  ELABORACIÓN, GESTIÓN Y APROBACIÓN DE CUATRO ESTU</td>
    </tr>
    <tr id="tr_cco">
        <td>17508 </td>
        <td>20-00-1211-BUENAVENTURA-INGENIERIA FACTIBILIDAD OPTIMIZACION</td>
    </tr>
    <tr id="tr_cco">
        <td>17537 </td>
        <td>20-01-1258-CNPC PERU-ELABORACION GESTION DE APROBACION      </td>
    </tr>
    <tr id="tr_cco">
        <td>17584 </td>
        <td>21-00-1365 LAS BAMBAS  ELABORACIÓN DE LA MEMORIA DESCRIPTIV </td>
    </tr>
    <tr id="tr_cco">
        <td>17611 </td>
        <td>21-01-1434I HUDBAY DENTIFICACIÓN REQUERIMIENTOS DE ESTUDIOS </td>
    </tr>
    <tr id="tr_cco">
        <td>17614 </td>
        <td>21-01-1454-APMT  CALLAO EARLY WORKS TOPOGRAPHY / BATHYMETRY </td>
    </tr>
    <tr id="tr_cco">
        <td>17616 </td>
        <td>21-00-1456 HUDBAY INVENTARIO DE PASIVOS AMBIENTALES Y LABOR </td>
    </tr>
    <tr id="tr_cco">
        <td>17619 </td>
        <td>21-01-1450    APMT ESTUDIO DE DESARROLLO DE PLANES DE IDENTI</td>
    </tr>
    <tr id="tr_cco">
        <td>17620 </td>
        <td>21-01-1473  HUDBAY  IMPLENT DE LA SÉPTIMA ETAPA DEL PROGRAMA</td>
    </tr>
    <tr id="tr_cco">
        <td>17621 </td>
        <td>21-00-1476 NEXA INGENIERÍA DE DETALLE-CIERRE DE PASIVOS UM C</td>
    </tr>
    <tr id="tr_cco">
        <td>17622 </td>
        <td>21-01-1472  BUENAVENTURA CONTRATO MARCO IGA                 </td>
    </tr>
    <tr id="tr_cco">
        <td>17676 </td>
        <td>22-01-1603 IAM GOLD EVALUACION AFECT DEREC COLECTIVOS       </td>
    </tr>
    <tr id="tr_cco">
        <td>17677 </td>
        <td>22-01-1606 AP TERMINAL   EIA  TERMINAL NORTE REDISENO       </td>
    </tr>
    <tr id="tr_cco">
        <td>17692 </td>
        <td>22-00-1618-NEXA-REVISION INGENIERIA DETALLE JAROSITA        </td>
    </tr>
    <tr id="tr_cco">
        <td>17717 </td>
        <td>22-00-1689   AUDITORÍA ESTRUCTURAL DE INFRAESTRUCTURA Y     </td>
    </tr>
    <tr id="tr_cco">
        <td>17718 </td>
        <td>22-01-1706 ACTUALIZACION ESTUDIO DE IMPACTO AMBIENTAL       </td>
    </tr>
    <tr id="tr_cco">
        <td>17720 </td>
        <td>22-00-1691  CONTRATO MARCO DE INGENIERÍA, TOPOGRAFÍA Y SUPER</td>
    </tr>
    <tr id="tr_cco">
        <td>17721 </td>
        <td>22-01-1694  ELABORACIÓN DE TERCER ITS DE LA 3ERA MEIA DE LA </td>
    </tr>
    <tr id="tr_cco">
        <td>17722 </td>
        <td>22-00-1704 EVALUACIÓN DE COBERTURAS DE LAS FASES CERRADAS DE</td>
    </tr>
    <tr id="tr_cco">
        <td>17723 </td>
        <td>22-01-1712 LEVANTAMIENTO DE OBSERVACIONES REALIZADAS POR LA </td>
    </tr>
    <tr id="tr_cco">
        <td>17724 </td>
        <td>22-01-1707 ESTUDIO DE HIDRÁULICA FLUVIAL PARA LOS C         </td>
    </tr>
    <tr id="tr_cco">
        <td>17725 </td>
        <td>22-01-1710MODIFICACIÓN DE DIA PROYECTO CENTRAL SOLAR FOTOVOL</td>
    </tr>
    <tr id="tr_cco">
        <td>17726 </td>
        <td>22-00-1678  MEJORAMIENTO DEL AGUA TRATADA PARA LA FORESTACIÓ</td>
    </tr>
    <tr id="tr_cco">
        <td>17727 </td>
        <td>22-01-1716  ELABORACIÓN Y PRESENTACIÓN DE EXPEDIENTE DE SOLI</td>
    </tr>
    <tr id="tr_cco">
        <td>17728 </td>
        <td>22-00-1717 UP GRADE MOLIENDA - PLANTA DE SULFUROS           </td>
    </tr>
    <tr id="tr_cco">
        <td>17729 </td>
        <td>22-01-1722 ESTUDIO DE TSUNAMIS EN LA ZONA COSTERA DEL MINERO</td>
    </tr>
    <tr id="tr_cco">
        <td>17730 </td>
        <td>22-00-1723 SUPERVISIÓN DE PROYECTO CONTROL DE ACCESOS E-HOUS</td>
    </tr>
    <tr id="tr_cco">
        <td>17731 </td>
        <td>22-00-1721 SERVICIO DE INGENIERÍA EN LA DISCIPLINA DE CIVIL,</td>
    </tr>
    <tr id="tr_cco">
        <td>17732 </td>
        <td>22-01-1731 TERCERA MEIA-SD COROCCOHUAYCO                    </td>
    </tr>
    <tr id="tr_cco">
        <td>17733 </td>
        <td>22-00-1719  PLANEAMIENTO ESTRATÉGICO, INGENIERÍA Y GESTIÓN D</td>
    </tr>
    <tr id="tr_cco">
        <td>17734 </td>
        <td>22-00-1732  PREPARACIÓN DE EXPEDIENTE E INFORMACIÓN PARA PRO</td>
    </tr>
    <tr id="tr_cco">
        <td>17735 </td>
        <td>22-00-1735 ESTUDIO DE SELECCIÓN PARA EL POST TRATAMIENTO DEL</td>
    </tr>
    <tr id="tr_cco">
        <td>17999 </td>
        <td>PROPUESTAS-SHARED SERVICES                                  </td>
    </tr>
    <tr id="tr_cco">
        <td>800000</td>
        <td>NO UTILIZAR (ESTIMACION COSTOS)                             </td>
    </tr>
    <tr id="tr_cco">
        <td>999901</td>
        <td>ENGINEERING MANAGEMENT                                      </td>
    </tr>
    <tr id="tr_cco">
        <td>999902</td>
        <td>PROCUREMENT MANAGEMENT                                      </td>
    </tr>
    <tr id="tr_cco">
        <td>999903</td>
        <td>PROJECT SERVICES                                            </td>
    </tr>
    <tr id="tr_cco">
        <td>999990</td>
        <td>PROSPECTS (13000 - 13999)                                   </td>
    </tr>
    <tr id="tr_cco">
        <td>999991</td>
        <td>SPECIFIC BD (11101 - 11119)                                 </td>
    </tr>
    <tr id="tr_cco">
        <td>999992</td>
        <td>SPECIFIC MARKETING (11201 - 11218)                          </td>
    </tr>
    <tr id="tr_cco">
        <td>999993</td>
        <td>SPECIFIC COMMERCIAL (11301 - 11318)                         </td>
    </tr>
    <tr id="tr_cco">
        <td>999994</td>
        <td>MARKETING (11100- 13000 AL 13999)                           </td>
    </tr>
    <tr id="tr_cco">
        <td>999995</td>
        <td>C.C. DEPT. ADMINISTRACION                                   </td>
    </tr>
    <tr id="tr_cco">
        <td>999996</td>
        <td>C.C. MANAGEMENT                                             </td>
    </tr>
    <tr id="tr_cco">
        <td>999997</td>
        <td>C.C. FINANZAS                                               </td>
    </tr>
    <tr id="tr_cco">
        <td>999998</td>
        <td>C.C. PRESUPUESTAL PROPOUSAL (14000 A 14999)                 </td>
    </tr>
    <tr id="tr_cco">
        <td>999999</td>
        <td>CENTRO DE COSTO PRESUPUESTAL                                </td>
    </tr>
</tbody>