
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Usuario> SigInManager

    <ul class="navbar-nav">
    @if(SigInManager.IsSignedIn(User))
    {
        <li nav-item>
            <span> Bienvenido @User.Identity.Name </span>
        </li>
    }else
    {
       
    }
    </ul>
