################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/WebApp/.vs/ProjectEvaluation/site.metadata.v5.2
/WebApp/.vs/ProjectEvaluation/site.projects.v5.2
/WebApp/.vs/Site/FileContentIndex/18180227-99fd-49c2-b0f0-54c3768f5dbe.vsidx
/WebApp/.vs/Site/FileContentIndex/334ea921-8199-49f1-ab63-bd0088379c6b.vsidx
/WebApp/.vs/Site/FileContentIndex/320014a2-1d7b-45b3-bf1e-30aa838ecbb2.vsidx
/WebApp/.vs/Site/FileContentIndex/52c1db7d-5fd0-41d9-93de-48c4d93e0628.vsidx
/WebApp/.vs/Site/FileContentIndex/9773d7d6-44bb-410c-9347-4eeba7d84479.vsidx
/WebApp/.vs/Site/FileContentIndex/bb05d62b-3f4a-43f8-b5d5-72ca29db67f2.vsidx
/.gitignore
