################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/WebApp/.vs/ProjectEvaluation/site.metadata.v5.2
/WebApp/.vs/ProjectEvaluation/site.projects.v5.2
/WebApp/.vs/Site/FileContentIndex/18180227-99fd-49c2-b0f0-54c3768f5dbe.vsidx
/WebApp/.vs/Site/FileContentIndex/334ea921-8199-49f1-ab63-bd0088379c6b.vsidx
