@import '../../sass/utilities/functions';

.swicth-status {
    transform: scale(1.5);
    &:checked,
    &:focus {
        background-color: mcColor(green) !important;
        border-color: mcColor(green) !important;
        box-shadow: none;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
    }
}
