
@using Site.Models;
@model IEnumerable<ContentMain>

<div id="content-main" class="d-flex flex-row">
@foreach( var item in Model)
{
	if (item.ContentMain_Estado != 0)
	{
		<div id="contentmain-item" class="me-2">
			<div>
			   <img id="img_slider" src="data:image/jpg;base64,@item.File_Base64" width="240" height="140"/>
			   @if (item.ContentMain_Titulo.Length > 0)
			   {
			    <p>@item.ContentMain_Titulo</p>	
			   }
			   @if (item.ContentMain_Descripcion.Length > 0)
			   {
			   	<p>@item.ContentMain_Descripcion</p>
			   }
			</div>
		</div>
	}
}
</div>
<style>
	#content-main {
	width : 50%;
	height : 300px;
	margin-left:10%;
	margin-top:2%;
	border:1px solid black;
	}

	#contentmain-item {
		width: 100%;
		height: 100%;
		cursor:pointer;
	}

</style>

