<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title >@ViewData["Title"] - Site</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Site.styles.css" asp-append-version="true" />
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <img class="ms-5" src="data:image/jpg;base64,@ViewBag.File_Base64" width="100" height="60" />
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@ViewBag.Company_Nombre</a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
                    @await Component.InvokeAsync("SiteMenuOptions");
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<footer class="border-top footer text-muted">  
      <div id="footer-page">
       <div class="ft-1"> <img class="ms-5" src="data:image/jpg;base64,@ViewBag.File_Base64" width="100" height="60" /><p>@ViewBag.Company_Nombre © 2023 </p> <p>Todos los derechos reservados.</p> </div>
       <div class="ft-2">
         <a href="">Inicio</a>
         <a href="nosotros.html">Servicios</a>
         <a href="noticias.html">Noticias</a>
         <a href="">Comunidad </a>
         <a href="">Partners</a>
       </div>
       <div class="ft-3"> 
        <a href="">Politica de Privacidad</a>
        <a href="">Terminos y Condiciones</a>
        <a href="">Politica de Cookies</a>
        <a href="">Acuerdo de Licencia</a>
        <a href="">Notificacion de derechos de autor</a>
       </div>
       <div class="ft-4">
         <p>Siguenos</p>
         <a href="">Facebook</a>
         <a href="">Gmail</a>
         <a href="">Twitter</a>
         <a href="">Linkedln</a>
       </div>
     </div>
</footer>
</html>
