
@using Site.Models;
@model IEnumerable<SliderMain>

<div id="slider-main">
@foreach( var item in Model)
{
	if (item.SliderMain_Estado != 0)
	{
		<div id="slider-item" >
			<div>
			<img id="img_slider" src="data:image/jpg;base64,@item.File_Base64F" />
			   @if (item.SliderMain_Titulo.Length > 0)
			   {
			    <p>@item.SliderMain_Titulo</p>	
			   }
			   @if (item.SliderMain_Descripcion.Length > 0)
			   {
			   	<p>@item.SliderMain_Descripcion</p>
			   }
		       
			</div>
		</div>
	}
}
</div>
<style>
	#slider-main {
	width : 100%;
	height : 400px;
	border:1px solid black;
	}

	#slider-item {
		width: 100%;
		height: 100%;
		cursor:pointer;
	}

</style>


