@import '../../../sass/utilities/functions';

.category__select {
    max-width: 160px;
    max-height: 34px;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
    color: mcColor(black, lighter) !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%238038A6' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e") !important;
    font-size: 0.75rem !important;
    text-align: center;
    padding-right: 0px !important;
    padding-left: 0px !important;
}
