@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}
<h1>
    Inicia Sesion
</h1>

<form asp-action="Login"> 
    <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
        <div class="mb-3">
            <label class="form-label" asp-for="CodUser">Usuario</label>
            <input class="form-control" asp-for="CodUser">          
            <span class="text-danger " asp-validation-for="CodUser"></span>
        </div>
        <div class="mb-3">           
            <label class="form-label" asp-for="Password" >Password</label>
            <input class="form-control" asp-for="Password" >
            <span class="text-danger" asp-validation-for="Password" ></span>
        </div>
        <div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="Recuerdame">
                <label class="form-check-label" asp-for="Recuerdame"> </label>              
            </div>
        </div>
        <div>
            <button id="login-submit" type="submit" class="btn btn-primary">Iniciar Sesion</button>
        </div>

</form>
    
@section Scripts{
    <partial name ="_ValidationScriptsPartial"/>
}
