html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 150px;
}
footer {
height:100px;
background-color:darkslategray;
color:white;
}
    footer p, a {
    color:white;
    }
    footer p {
    width:130px;
    margin-left:10px;
    }