@model HDProjectWeb.Models.RQCompraCab

@{
    ViewData["Title"] = "Registrar Req Compra";
}
<h2 class="text-center">TITULO PRINCIPAL </h2>
<script>
    function Agregar() {
        alert("Si termino funcion");
        console.log("SI termino");
    }

    $(document).ready(function(){
	   $('#btn_adicionar').click(function(){
		
        var cont = 0;
        var item = '00' + (cont + 1).toString;
        var cod = 999900000018;
        var des = "<input type='"'text'"' />";
        var det = "<button id='"'btn_Detalle'"'  class='"'btn btn-outline-success'"'>+</button>";
        var uni = "UND";
        var cant = "<input type='"'text'"' value='"'0.0'"' />";
        var codprv = "00000000";
        var prov = "<input type='"'text'"' />";
       
        var fila = "<tr><td></td><td>" + item + "</td><td>" + cod + "</td><td>" + des + "</td><td>" + det + "</td><td>" + uni + "</td><td>" + cant + "</td><td>" + codprv + "</td><td>" + prov + "</td> </tr>";
        $('#tblProductos tr:first').after(fila);
        console.log(cont);
        cont = cont+1;
        });
    });
  
</script>
<br />
<div class="d-flex w-25 justify-content-center">
    <div class="col-md-4">
        <form asp-action="Crear">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>           
            <table>
                <tbody class="m-2">
                    <tr>
                        <th></th><th></th><th></th><th></th>
                        <th>
                            <div class="form-group ">
                                <input type="submit" value="Registrar" class="btn btn-primary" />
                                <a asp-action="Index" class="btn btn-warning ms-3">Volver</a>
                            </div>
                        </th>
                    </tr>
                    <!-- 1RA FILA HORIZONTAL-->
                    <tr class="mb-5">
                        <th class="col-sm-4">
                            <div class="form-group d-flex flex-row me-5">
                                <label class="me-2">Requerimiento</label>
                                <input asp-for="Rco_numero" class="form-control form-control-sm col-sm-4 " />
                                <span asp-validation-for="Rco_numero" class="text-danger"></span>
                            </div>
                        </th>
                        <th>
                            <div class="form-group d-flex flex-row ms-xl-5">
                                <label class="ms-xl-5">Fecha_Reg</label>
                                <input asp-for="Rco_fec_registro" class="form-control form-control-sm ms-2" />
                                <span asp-validation-for="Rco_fec_registro" class="text-danger"></span>
                            </div>
                        </th>
                        <!--<th>
                            <div class="form-group d-flex flex-row ms-5">
                                <label class="ms-5">Fecha_Sug</label>
                                <input asp-for="Rco_fec_registro" class="form-control form-control-sm ms-2" />
                                <span asp-validation-for="Rco_fec_registro" class="text-danger"></span>
                            </div>
                        </th>-->
                        <th>
                            <div class="d-flex flex-row ms-xl-5">
                                <span>Estado </span>
                                <select name="cboEstado" class="ms-2">
                                    <option value=1>VIGENTE</option>
                                    <option value=0>ANULADO</option>
                                </select>
                            </div>
                        </th>
                        <th>
                            <div class="d-flex flex-row ms-xl-5">
                                <span>Tipo_Req </span>
                                <select name="cboEstado" class="ms-2">
                                    <option value=1>COMPRA REGULAR</option>
                                    <option value=2>CERTIF. CONFORMIDAD</option>
                                    <option value=3>ADENDA CONTRATO</option>
                                    <option value=4>CLS CONSULTOR</option>
                                    <option value=5>CLS EMPRESA</option>
                                    <option value=6>AM CONSULTOR</option>
                                    <option value=7>AM EMPRESA</option>
                                </select>
                            </div>
                        </th>
                        <th>
                            <div class="d-flex flex-row ms-xl-5">
                                <span>Prioridad </span>
                                <select name="cboEstado" class="ms-2">
                                    <option value=1>MUY ALTA</option>
                                    <option value=2>ALTA</option>
                                    <option value=3>MEDIA</option>
                                    <option value=4>BAJA</option>
                                </select>
                            </div>
                        </th>
                    </tr>
                    <!-- 2DA FILA HORIZONTAL-->
                    <tr >
                        <th>
                             <div class="form-group d-flex flex-row ">
                               <label >U.Negocio</label>
                                 <select asp-for="U_negocio" name="cboEstado" class="ms-4">
                                   <option value=1>MINING & METALURGY    </option>
                                   <option value=2>INFRAESTRUCTURE E&W   </option>
                                   <option value=3>O&G-FEED & ENGINEERING</option>
                                   <option value=4>SHARED SERVICES</option>    
                                   <option value=5>O&G - PROJECTS </option>
                                   <option value=6>M&M - E&G      </option>
                                   <option value=7>ANTAMINA FASE VII</option>
                                 </select>
                              <span asp-validation-for="U_negocio" class="text-danger"></span>
                             </div>
                        </th>
                        <th>
                            <div class="form-group d-flex flex-row ms-2 me-5">
                                <label class="control-label">Centro_Costo</label>
                                <input asp-for="Centro_costo" class="form-control form-control-sm col-sm-4 ms-2" />
                                <span asp-validation-for="Centro_costo" class="text-danger"></span>
                            </div>
                        </th>
                        <th>
                            <div class="form-group d-flex flex-row ms-xl-5">
                                <label class="">Situacion</label>
                                <select asp-for="Rco_situacion_aprobado" id="CboSituacion" class="ms-2">
                                    <option value=1>PENDIENTE</option>
                                    <option value=2>APROBADO </option>
                                    <option value=2>RECHAZADO</option>
                                </select>
                                <span asp-validation-for="Rco_situacion_aprobado" class="text-danger"></span>
                            </div>
                        </th>
                        <th>
                            <div class="d-flex flex-row ms-xl-5">
                                <input class="ms-5" type="checkbox" id="chkOCAprobado" />
                                <span class="ms-2">OC Aprobado</span>
                            </div>
                        </th>
                        <th>
                            <div class="form-group d-flex flex-row ms-xl-5">
                                <label class="control-label me-3">Solicitud</label>
                                <input asp-for="User_solicita" class="form-control form-control-sm col-sm-4" />
                                <span asp-validation-for="User_solicita" class="text-danger"></span>
                            </div>
                        </th>
                    </tr>
                    <!-- 3RA FILA HORIZONTAL-->
                    <tr class="mb-lg-5">
                        <th>
                            <div class="form-group d-flex flex-row me-5">
                                <label asp-for="User_solicita" class="control-label me-2"></label>
                                <input asp-for="User_solicita" class="form-control form-control-sm col-sm-4" />
                                <span asp-validation-for="User_solicita" class="text-danger"></span>
                            </div>
                        </th>
                        <th>
                            <div class="form-group d-flex flex-row ms-5 me-5">
                                <label  class="control-label ms-2 me-2">Resumen</label>
                                <input asp-for="User_solicita" class="form-control form-control-sm col-sm-4" />
                                <span asp-validation-for="User_solicita" class="text-danger"></span>
                            </div>
                        </th>
                        <th>
                            <div class="form-group d-flex flex-row ms-xl-5">
                                <label >Presupuesto</label>
                                <select asp-for="Rco_situacion_aprobado" id="CboPresupuesto" class="ms-2">
                                    <option value=1> SI </option>
                                    <option value=2> NO </option>
                                </select>
                                <span asp-validation-for="Rco_situacion_aprobado" class="text-danger"></span>
                            </div>
                        </th>
                        <th>
                            <div class="d-flex flex-row ms-xl-5">
                                <input class="ms-5" type="checkbox" id="chkCategorizado" />
                                <span class="ms-2">Categorizado</span>
                            </div>
                            
                        </th>
                        <th>
                            <div class="form-group d-flex flex-row ms-xl-5">
                                <label class="control-label">OCompra</label>
                                <input asp-for="Occ_numeroocc" class="form-control form-control-sm col-sm-3 ms-2" />
                                <span asp-validation-for="Occ_numeroocc" class="text-danger"></span>
                            </div>
                        </th>
                    </tr>
                     <!-- 4TA FILA HORIZONTAL-->
                     <tr>
                        <th>
                            <div class="form-group d-flex flex-row">
                                <label asp-for="Rco_motivo" class="control-label"></label>
                                <input asp-for="Rco_motivo" class="form-control ms-3" />
                                <span asp-validation-for="Rco_motivo" class="text-danger"></span>
                            </div>
                         </th>
                        <th>
                            <div class="form-group d-flex flex-row ms-xl-5">
                                <label  class="control-label">Disciplina</label>
                                <input asp-for="Rco_motivo" class="form-control ms-3" />
                                <span asp-validation-for="Rco_motivo" class="text-danger"></span>
                            </div>
                        </th>
                        <th>
                            <div class="form-group d-flex flex-row ms-xl-5">
                                <label>Reembolso</label>
                                <select asp-for="Rco_situacion_aprobado" id="CboReembolso" class="ms-3">
                                    <option value=1> SI </option>
                                    <option value=2> NO </option>
                                </select>
                                <span asp-validation-for="Rco_situacion_aprobado" class="text-danger"></span>
                            </div>
                        </th>
                        <th>
                            <div class="d-flex flex-row ms-xl-5">
                                <input class="ms-5" type="checkbox" id="chkCategorizado" />
                                <span class="ms-2">Cuadro Comparativo</span>
                            </div>
                        </th>
                        <th>
                            <a class="btn btn-primary">TDR</a>
                            <a class="btn btn-primary ms-2">Enviar Mail</a>
                        </th>
                     </tr>                   
                </tbody>
            </table>
            <br /><br />
            <!-- TABLA PRODUCTOS -->
            <div class="table">
                <table  class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                        <th> <button id="btn_adicionar" onclick="alert('Hello'')" type="button" class="btn btn-outline-success">+</button> </th>
                        <th>Item</th>
                        <th>Codigo</th>
                        <th>Descripcion</th>
                        <th>Det.</th>
                        <th>Unidad</th>
                        <th>Cantidad</th>
                        <th>Codigo Proveedor</th>
                        <th>Proveedor</th>
                        <th>Sustento</th>
                    </tr>
                </thead>
                    <tbody id="tblProductos" class="table table-bordered"> </tbody>
                </table>
            </div>
            <!-- TABLA ADJUNTOS-->
            <br /><br /><br /><br />
            <span class="justify-content-center">ADJUNTOS</span>
            <div class="">
                <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Nombre Archivo</th>
                        <th>P</th>
                        <th>Codigo Archivo</th>
                    </tr>
                </thead>
            </table>
                <br /><br />
            </div>
            <div class="">
                <div class="">
                    <a class="btn btn-danger">ELiminar</a>
                </div>              
            </div> <br />
            <p style="color:red">Nombre Objeto</p>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
