@model HDProjectWeb.Models.RQCompraCab

@{
    ViewData["Title"] = "Registrar Req Compra";
}
<h2>TITULO PRINCIPAL </h2>
<br />
<div>
    <div class="col-md-4 form-control-sm">
        <form asp-action="Crear">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="d-flex flex-row">
                <div class="form-group d-flex flex-row me-3">
                    <label class="me-2">Requerimiento</label>
                    <input asp-for="Rco_numero" class="form-control form-control-sm col-sm-4 " />
                    <span asp-validation-for="Rco_numero" class="text-danger"></span>
                </div>
                <div class="form-group d-flex flex-row ms-xl-5">
                    <label class="ms-xl-5">Fecha_Reg</label>
                    <input asp-for="Rco_fec_registro" class="form-control form-control-sm ms-2" />
                    <span asp-validation-for="Rco_fec_registro" class="text-danger"></span>
                </div>
                <div class="d-flex flex-row ms-xl-5">
                    <span>Estado </span>
                    <select name="cboEstado" class="ms-2">
                        <option value=1>VIGENTE</option>
                        <option value=0>ANULADO</option>
                    </select>
                </div>
                <div class="d-flex flex-row ms-xl-5">
                    <span>Tipo_Req </span>
                    <select name="cboEstado" class="ms-2">
                        <option value=1>COMPRA REGULAR</option>
                        <option value=2>CERTIF. CONFORMIDAD</option>
                        <option value=3>ADENDA CONTRATO</option>
                        <option value=4>CLS CONSULTOR</option>
                        <option value=5>CLS EMPRESA</option>
                        <option value=6>AM CONSULTOR</option>
                        <option value=7>AM EMPRESA</option>
                    </select>
                </div>
                 <div class="d-flex flex-row ms-xl-5">
                    <span>Prioridad </span>
                    <select name="cboEstado" class="ms-2">
                        <option value=1>MUY ALTA</option>
                        <option value=2>ALTA</option>
                        <option value=3>MEDIA</option>
                        <option value=4>BAJA</option>
                    </select>
                </div>          
            </div> <br />   
            <!-- 2DO DIV HORIZONTAL-->
            <div class="d-flex flex-row">
                <div class="form-group d-flex flex-row ">
                    <label >U.Negocio</label>
                    <select asp-for="U_negocio" name="cboEstado" class="ms-2">
                        <option value=1>MINING & METALURGY</option>
                        <option value=2>INFRAESTRUCTURE E&W</option>
                        <option value=3>O&G-FEED & ENGINEERING</option>
                        <option value=4>SHARED SERVICES</option>    
                        <option value=3>O&G - PROJECTS</option>
                        <option value=2>M&M - E&G</option>
                        <option value=2>ANTAMINA FASE VII</option>
                    </select>
                    <span asp-validation-for="U_negocio" class="text-danger"></span>
                </div>
                <div class="form-group d-flex flex-row ms-2">
                    <label asp-for="Centro_costo" class="control-label"></label>
                    <input asp-for="Centro_costo" class="form-control col-sm-1 ms-2" />
                    <input id="Centro_costo_des" type="text" class="col-md-10 ms-2 w-100"/>
                    <span asp-validation-for="Centro_costo" class="text-danger"></span>
                </div>
                 <div class="form-group d-flex flex-row ">
                    <label >Situacion</label>
                    <select asp-for="Rco_situacion_aprobado" id="CboStuacion" class="ms-2">
                        <option value=1>PENDIENTE</option>
                        <option value=2>APROBADO</option>
                        <option value=2>RECHAZADO</option>
                    </select>
                    <span asp-validation-for="Rco_situacion_aprobado" class="text-danger"></span>
                </div>


            </div>


            <div class="form-group">
                <label asp-for="Usuario_origen" class="control-label"></label>
                <input asp-for="Usuario_origen" class="form-control" />
                <span asp-validation-for="Usuario_origen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User_solicita" class="control-label"></label>
                <input asp-for="User_solicita" class="form-control" />
                <span asp-validation-for="User_solicita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rco_motivo" class="control-label"></label>
                <input asp-for="Rco_motivo" class="form-control" />
                <span asp-validation-for="Rco_motivo" class="text-danger"></span>
            </div>    
            <div class="form-group">
                <label asp-for="Disciplina" class="control-label"></label>
                <input asp-for="Disciplina" class="form-control" />
                <span asp-validation-for="Disciplina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rco_situacion_aprobado" class="control-label"></label>
                <input asp-for="Rco_situacion_aprobado" class="form-control" />
                <span asp-validation-for="Rco_situacion_aprobado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rco_prioridad" class="control-label"></label>
                <input asp-for="Rco_prioridad" class="form-control" />
                <span asp-validation-for="Rco_prioridad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rco_justificacion" class="control-label"></label>
                <input asp-for="Rco_justificacion" class="form-control" />
                <span asp-validation-for="Rco_justificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rco_reembolso" class="control-label"></label>
                <input asp-for="Rco_reembolso" class="form-control" />
                <span asp-validation-for="Rco_reembolso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rco_presupuesto" class="control-label"></label>
                <input asp-for="Rco_presupuesto" class="form-control" />
                <span asp-validation-for="Rco_presupuesto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rco_categorizado" class="control-label"></label>
                <input asp-for="Rco_categorizado" class="form-control" />
                <span asp-validation-for="Rco_categorizado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ccc_numeroccc" class="control-label"></label>
                <input asp-for="Ccc_numeroccc" class="form-control" />
                <span asp-validation-for="Ccc_numeroccc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scc_cotizacion" class="control-label"></label>
                <input asp-for="Scc_cotizacion" class="form-control" />
                <span asp-validation-for="Scc_cotizacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Occ_numeroocc" class="control-label"></label>
                <input asp-for="Occ_numeroocc" class="form-control" />
                <span asp-validation-for="Occ_numeroocc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Occ_dessituacionocc" class="control-label"></label>
                <input asp-for="Occ_dessituacionocc" class="form-control" />
                <span asp-validation-for="Occ_dessituacionocc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OCC_ProveedorOCC" class="control-label"></label>
                <input asp-for="OCC_ProveedorOCC" class="form-control" />
                <span asp-validation-for="OCC_ProveedorOCC" class="text-danger"></span>
            </div> <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-success" asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
